[Unit]
Description=Octhulhu Agent

[Service]
ExecStart=/usr/bin/octhulhu-agent -c /etc/cthulhu/octhulhu.toml daemon
Environment="RUST_BACKTRACE=1"
Restart=on-failure
RestartSec=5s
ConditionPathExists=/etc/cthulhu/netbox.toml

[Install]
WantedBy=multi-user.target
